// Fontes
$fontPrincipal: Roboto, sans-serif;

// Esquema de cores
$corDeFundo: #333333;
$corPrincipal: #000000;
$corSecundaria: #fff;
$corTerciaria: #44bd32;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;